---
import dataProvider from '~/config/dataProvider';
import ProjectCard from './ProjectCard.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import type { Project, CallToAction } from '~/types';
import Headline from '../blog/Headline.astro';
import Button from '../ui/Button.astro';

interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: CallToAction;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  callToAction = {},
} = Astro.props as Props;

const { data } = await dataProvider.getList('Project', {
  filter: { 'pair:hasStatus': 'https://data.virtual-assembly.org/status/mis-en-avant' },
  pagination: { page: 1, perPage: 8 },
});

const randomData = data
  .map((value) => ({ value, sort: Math.random() }))
  .sort((a, b) => a.sort - b.sort)
  .map(({ value }) => value);
---

<WidgetWrapper>
  <Headline title={title} subtitle={subtitle} />
  <div class="flex flex-col lg:justify-between lg:flex-row mb-8">
    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-4 -mb-6">
      {randomData.map((project: Project) => <ProjectCard project={project} />)}
    </div>
  </div>
  <div class="flex justify-center">
    <Button {...callToAction} class="sm:mb-0" />
  </div>
</WidgetWrapper>
