---
import dataProvider from '~/config/dataProvider';
import { arrayOf } from '~/utils/utils';
import ProjectCard from './ProjectCard.astro';

export interface Props {
  projectsUris: string | [string];
}

const { projectsUris } = Astro.props;

let { data: projects } = await dataProvider.getMany('Project', {
  ids: arrayOf(projectsUris),
});

projects = projects.filter((project) => project?.type === 'pair:Project');
---

<div class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 -mb-6">
  {projects.map((project) => <ProjectCard project={project} />)}
</div>
