---
import dataProvider from '~/config/dataProvider';
import ActorModal from './ActorModal.astro';
import { arrayOf } from '~/utils/utils';

export interface Props {
  actorsUris: string | [string];
}

const { actorsUris } = Astro.props;

const { data } = await dataProvider.getMany('Person', {
  ids: arrayOf(actorsUris),
});
---

<div class="grid gap-4 grid-cols-2 sm:grid-cols-4 md:grid-cols-6">
  {
    data?.map((actor) => (
      <div>
        <a data-modal-target={actor.id} data-modal-toggle={actor.id} class="cursor-pointer">
          <img class="w-full aspect-square object-cover rounded-full" src={actor.image} alt={actor['pair:label']} />
          <div class="text-center truncate font-bold">{actor['pair:label']}</div>
        </a>
        <ActorModal actor={actor} />
      </div>
    ))
  }
</div>
