---
import dataProvider from '~/config/dataProvider';

export interface Props {
  themesUris: string | [string];
}

const { themesUris } = Astro.props;

const { data: themes } = await dataProvider.getMany('Theme', {
  ids: Array.isArray(themesUris) ? themesUris : [themesUris],
});
---

<span>
  {themes.map((theme) => theme['pair:label']).join(', ')}
</span>
