---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Qui ?',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Soutenez le projet',
          href: 'https://fr.tipeee.com/transiscapade',
        },
        {
          variant: 'primary',
          text: 'Vidéos',
          href: 'https://www.youtube.com/@Transiscapade',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Mon parcours"
    actions={[
      { text: 'Soutenez', icon: 'tabler:moneybag', href: 'https://fr.tipeee.com/transiscapade', target: '_blank' }, 
      { icon: 'mage:facebook-circle', href: 'https://www.facebook.com/profile.php?id=61556861211105', target: '_blank' },
      { icon: 'mage:linkedin', href: 'https://www.linkedin.com/company/104605394', target: '_blank' },
      { icon: 'mage:instagram-circle', href: 'https://www.instagram.com/transiscapade_2/', target: '_blank' },
      { icon: 'mage:tiktok-circle', href: 'https://www.linkedin.com/company/104605394', target: '_blank' },
    ]}
    image={{ src: '~/assets/images/qui.png', alt: 'Yannick Duthé et son vhélio' }}
  >
    <Fragment slot="title">
      Qui suis-je ?
    </Fragment>

    <Fragment slot="subtitle">
         Je m'appelle Yannick DUTHE, je suis un passionné de transition et je recherche l'autonomie (Habitat, alimentation, transport, monnaie...).
         <br /> <br /> Je suis développeur web au sein de l'association <b><a href='https://virtual-assembly.org'>Assemblée Virtuelle (AV)</a></b>, dont l'objectif est de <b>cartographier la transition</b> en utilisant un web plus standardisé, distribué (non centralisé), respectant les données personnelles.
         <br />Je porte aussi le projet "Archipelago 72", qui cartographie les alternatives en Sarthe en utilisant ces principes.
         <br /> <br /> En 2023, j'ai eu la chance de pouvoir co-fabriquer mon <b>vélo solaire</b>, ce qui va me permettre d'aller visiter des lieux plus loin, plus sobrement, et toujours dans la joie !
    </Fragment>
  </Hero2>
