---
import dataProvider from '~/config/dataProvider';
import ActorModal from '../actors/ActorModal.astro';

export interface Props {
  associationsUris: string | [string];
}

const { associationsUris } = Astro.props;

const { data: associations } = await dataProvider.getMany('MembershipAssociation', {
  ids: Array.isArray(associationsUris) ? associationsUris : [associationsUris],
});

const { data: members } = await dataProvider.getMany('Person', {
  ids: associations.map((a) => a['pair:membershipActor']),
});

const { data: roles } = await dataProvider.getMany('Person', {
  ids: [...new Set(associations.map((a) => a['pair:membershipRole']))],
});
---

{
  (
    <div>
      <div class="grid gap-4 grid-cols-2 sm:grid-cols-4 md:grid-cols-6">
        {associations?.map((association) => {
          const member = members.find((m) => m.id === association['pair:membershipActor']);
          const role = roles.find((r) => r.id === association['pair:membershipRole']);
          return (
            <div>
              <a data-modal-target={member.id} data-modal-toggle={member.id} class="cursor-pointer">
                <img
                  class="w-36 aspect-square object-cover rounded-full"
                  src={member.image}
                  alt={member['pair:label']}
                />
                <div class="text-center truncate font-bold">{member['pair:label']}</div>
                <div class="text-center truncate">{role['pair:label']}</div>
              </a>
              <ActorModal actor={member} />
            </div>
          );
        })}
      </div>
    </div>
  )
}
