---
import Image from '~/components/common/Image.astro';
import dataProvider from '~/config/dataProvider';
import { arrayOf } from '~/utils/utils';

export interface Props {
  involves: string;
}

const { involves } = Astro.props;

let { data } = await dataProvider.getMany('Organization', {
  ids: arrayOf(involves),
});

const organization = data.find((r) => r.type === 'pair:Organization');
---

{
  organization && (
    <div>
      <div class="flex">
        <div class="flex-none w-36">
          {organization.image && (
            <a href={`/organisations/${encodeURIComponent(organization.id)}`}>
              <Image
                src={organization.image}
                class="object-cover w-36 h-36 rounded shadow-lg shadow-slate-500 bg-white dark:bg-slate-700"
                widths={[400, 900]}
                width={900}
                sizes="(max-width: 900px) 400px, 900px"
                alt={organization['pair:label']}
                aspectRatio="16:9"
                loading="lazy"
                decoding="async"
              />
            </a>
          )}
        </div>
        <div class="grow pl-6">
          <header class="flex flex-col h-full">
            <a href={`/organisations/${encodeURIComponent(organization.id)}`}>
              <h4 class="grow text-3xl md:text-4xl mt-1 font-bold leading-tighter tracking-tighter font-heading align-text-bottom">
                {organization['pair:label']}
              </h4>
            </a>
            <p class="flex-none line-clamp-4">{organization['pair:description']}</p>
          </header>
        </div>
      </div>
    </div>
  )
}
