---
import { Image } from 'astro:assets';
---

<section class="bg-cover w-full h-[740px] flex items-center justify-center" style="background-image: url('/hero.jpg');">
  <Image src="/full-logo.png" alt="Assemblée Virtuelle" width={240} height={240} />
</section>
