---
import { Icon } from 'astro-icon/components';
---

<section class="dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    Favoriser la mise en réseau des acteurs de la transition grâce à la mise en synergie de leurs systèmes
    d’information.
  </div>
</section>
