---
import { Image } from 'astro:assets';
import { SITE } from '~/utils/config';
import logo from '~/assets/favicons/favicon.svg';
---

<div class="flex justify-start">
  <Image src={logo} alt={SITE?.name} width={400} />
</div>
