---
import dataProvider from '~/config/dataProvider';

export interface Props {
  actorUri: string;
}

const { actorUri } = Astro.props;

const { data: actor } = await dataProvider.getOne('Person', {
  id: actorUri,
});
---

{
  actor && (
    <div class="flex">
      <div class="flex-none">
        <img src={actor.image} class="w-24 h-24 rounded-md" />
      </div>
      <div class="grow pl-3 prose">
        <h3>Auteur: {actor['pair:label']}</h3>
        <p>{actor['pair:comment']}</p>
      </div>
    </div>
  )
}
