---
import dataProvider from '~/config/dataProvider';
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';
import Members from '~/components/organizations/Members.astro';
import Projects from '~/components/projects/Projects.astro';
import Websites from '~/components/organizations/Websites.astro';
import Button from '~/components/ui/Button.astro';
import type { Organization } from '~/types';

export const prerender = true;

export async function getStaticPaths() {
  const { data } = await dataProvider.getList('Organization');
  return data.map((organization) => ({
    params: {
      slug: organization.id,
    },
    props: organization,
  }));
}

const organization = Astro.props as Organization;

const metadata = {
  title: organization['pair:label'],
  description: organization['pair:comment'],
};
---

<Layout metadata={metadata}>
  <section class="px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <article>
      <header class="flex mb-4 relative">
        <Button
          variant="primary"
          class="absolute right-0 top-0 px-6 py-2"
          target="_blank"
          icon="tabler:edit"
          href={`https://archipel.assemblee-virtuelle.org/Organization/${encodeURIComponent(organization.id)}`}
        >
          Editer
        </Button>
        <div class="flex-none w-36">
          {
            organization.image && (
              <Image
                src={organization.image}
                class="object-cover w-36 h-36 rounded shadow-lg shadow-slate-500 bg-white dark:bg-slate-700"
                widths={[400, 900]}
                width={900}
                sizes="(max-width: 900px) 400px, 900px"
                alt={organization['pair:label']}
                aspectRatio="16:9"
                loading="lazy"
                decoding="async"
              />
            )
          }
        </div>
        <div class="grow pl-6">
          <header class="flex flex-col h-full">
            <h1
              class="grow text-4xl md:text-5xl mt-12 font-bold leading-tighter tracking-tighter font-heading align-text-bottom"
            >
              {organization['pair:label']}
            </h1>
            <p class="flex-none">
              <span
                class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-0.5 px-2 font-medium rounded-md"
              >
                Organisation membre de l'AV
              </span>
            </p>
          </header>
        </div>
      </header>
      <p class="flex-grow text-muted dark:text-slate-400 text-lg">
        {organization['pair:description']}
      </p>
      <h3 class="text-2xl font-bold leading-tighter tracking-tighter font-heading mt-10 mb-2">
        Canaux de communication
      </h3>
      <Websites urls={organization['pair:homePage']} />
      <h3 class="text-2xl font-bold leading-tighter tracking-tighter font-heading mt-10 mb-2">Membres</h3>
      <Members associationsUris={organization['pair:organizationOfMembership']} />
      <h3 class="text-2xl font-bold leading-tighter tracking-tighter font-heading mt-10 mb-2">Projets</h3>
      <Projects projectsUris={organization['pair:involvedIn']} />
    </article>
  </section>
</Layout>
