---
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';
import Headline from '~/components/blog/Headline.astro';

import dataProvider from '~/config/dataProvider';

const { data: organizations } = await dataProvider.getList('Organization');

const metadata = {
  title: "Les organisations membres de l'AV",
};
---

<Layout metadata={metadata}>
  <section class="px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="Les dernières actualités de l'Assemblée Virtuelle et des projets qu'elle porte">
      Les organisation membres de l'AV
    </Headline>

    {
      organizations.map((organization) => (
        <article class="flex mb-6">
          <a href={`/organisations/${encodeURIComponent(organization.id)}`}>
            <div class="flex-none w-36">
              {organization.image && (
                <Image
                  src={organization.image}
                  class="object-cover w-36 h-36 rounded shadow-lg shadow-slate-500 bg-white dark:bg-slate-700"
                  widths={[400, 900]}
                  width={900}
                  sizes="(max-width: 900px) 400px, 900px"
                  alt={organization['pair:label']}
                  aspectRatio="16:9"
                  loading="lazy"
                  decoding="async"
                />
              )}
            </div>
          </a>
          <div class="grow pl-2">
            <div class="grow pl-6">
              <header class="flex flex-col h-full">
                <a href={`/organisations/${encodeURIComponent(organization.id)}`}>
                  <h4 class="grow text-3xl md:text-4xl mt-1 font-bold leading-tighter tracking-tighter font-heading align-text-bottom">
                    {organization['pair:label']}
                  </h4>
                </a>
                <p class="flex-none line-clamp-4">{organization['pair:description']}</p>
              </header>
            </div>
          </div>
        </article>
      ))
    }
  </section>
</Layout>
