---
import { marked } from 'marked';
import Button from '../ui/Button.astro';

import type { Document } from '~/types';

export interface Props {
  record: Document;
}

const { record } = Astro.props;
---

<section class="py-8 sm:py-16 lg:py-20">
  <article>
    <header class="relative mx-auto max-w-4xl">
      <Button
        variant="primary"
        class="absolute right-0 top-0 px-6 py-2"
        target="_blank"
        icon="tabler:edit"
        href={`https://archipel.assemblee-virtuelle.org/Document/${encodeURIComponent(record.id)}`}
      >
        Editer
      </Button>
      <h1 class="px-4 sm:px-6 text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading">
        {record['pair:label']}
      </h1>
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-4xl prose prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px]"
    >
      <Fragment set:html={marked.parse(record['pair:description'] || '')} />
    </div>
  </article>
</section>
