---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: '#2 - Itinéraire Lyon > Genève',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'primary',
          text: 'Soutenez le projet',
          href: 'https://fr.tipeee.com/transiscapade',
        },
        {
          variant: 'primary',
          text: 'Vidéos',
          href: 'https://www.youtube.com/@Transiscapade',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Itinéraire"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Soutenez', icon: 'tabler:moneybag', href: 'https://fr.tipeee.com/transiscapade' },
      { target: '_blank', text: 'Facebook', icon: 'tabler:brand-facebook', href: 'https://www.facebook.com/profile.php?id=61556861211105' },
      { target: '_blank', text: 'Instagram', icon: 'tabler:brand-instagram', href: 'https://www.instagram.com/transiscapade_1/' },
      { target: '_blank', text: 'LinkedIn', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/company/104605394' },
    ]}
    image={{ src: '~/assets/images/lyon-geneve.jpg', alt: 'Canal latéral de Garonne' }}
  >
    <Fragment slot="title">
      Lyon>Genève>Chambéry 
    </Fragment>

    <Fragment slot="subtitle">
<br />- Du lundi 16 au jeudi 19 septembre : participation à la <b>résidence de l'Assemblée Virtuelle</b> qui se déroulera au Terroir (près de Genève). <a href='https://opencollective.com/events-av/events/residence-de-lassemblee-virtuelle-en-suisse-23d43783'>[Clic ici]</a>
<br />- Du 15 au 21 septembre : Passage en parallèle au <b>village des alternatives d'Alternatiba</b> à Genève. <a href='https://alternatibaleman.org/'>[Clic ici]</a>
<br />- Du vendredi 20 au samedi 21 septembre : participation au <b>10 ème Transiscothon</b> de Genève. <a href='https://ferme.yeswiki.net/PWA_GareCentrale/?TransiscothonN10_Programme'>[Clic ici]</a>
<br />- Du dimanche 22 au mardi 24 septembre : <b>voyage en vhélio</b> vers Chambéry
<br />- Du mercredi 25 au jeudi 26 septembre : participation au salon <b>"Numérique en commun"</b> à Chambéry. <a href='https://numerique-en-communs.fr/'>[Clic ici]</a>
<br />- Vendredi 27 septembre : je rends le vhélio et je repars en train pour la Normandie !
    </Fragment>
  </Hero2>
